@model List<UserRolesViewModel>
@{
    ViewBag.Title = "Manage User Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userId = ViewBag.userId;
}

<h1>Manage User Roles</h1>
<form asp-action="ManageUserRoles" asp-controller="administration" asp-route-userId="@userId" method="post">
    <div asp-validation-summary="All"></div>
    <div class="card">
        <div class="card-header">
            <h3>User in this role</h3>
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model[i].RoleId" />
                    <input type="hidden" asp-for="@Model[i].RoleName" />
                    <input class="form-check-input" asp-for="@Model[i].isSelected" />
                    <label class="form-check-label" asp-for="@Model[i].isSelected">
                        @Model[i].RoleName
                    </label>
                </div>
            }
        </div>
        <div class="card-footer">
            <input type="submit" value="Update" class="btn btn-primary" />
            <a class="btn btn-primary" asp-action="EditUser" asp-controller="administration" asp-route-id="@userId">Cancel</a>
        </div>
    </div>
</form>

